.RegistrationForm {
  width: 400px;
  margin-left:100px;
  margin-right: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.success {
  color: rgb(252, 39, 110);
  font-family: Arial;
  font-weight: bold;
  margin: 15px;
  padding: 3px 3px 5px 3px;
  background-blend-mode: screen;
}

.directions {
  font-size: 14px;
  line-height: 15px;
}