* {
  box-sizing: border-box;
}

.calendar-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: rgb(69, 69, 69);
  padding-left: 25px;
  padding-right: 25px;
}

.calendar-header {
  margin-top: 50px;
  text-align: center;
}

.calendar-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 40px;
  margin-top: 5px;
  max-width: 400px;
}


.editor-year {
  width: 100px;
}

.week {
  padding-left: 13px;
  padding-right: 20px;
  max-width: 375px;
  display: none;
  display: flex;
  flex-direction: row;
}

.week-day {
  font-size: 15px;
  margin: 10px;
  max-width: 65px;
  margin-bottom: 0px;
}

.hitchcocktober {
  font-family: 'Nosifer', cursive;
}

.calendar-head {
  height: 30px;
  width: 375px;
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(69, 69, 69);
}



@media (min-width: 750px) {
  .page-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

/* desktop */
@media (min-width: 960px) {
}
