* {
  box-sizing: border-box;
}

.calendar-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.calendar-header {
  text-align: center;
}

.calendar-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 40px;
  margin-top: 5px;
  max-width: 450px;
}


.editor-year {
  width: 100px;
}

.week {
  width: 500px;
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.week-day {
  font-size: 20px;
  margin: 15px;
  max-width: 65px;
  margin-bottom: 0px;
}

.hitchcocktober {
  font-family: 'Nosifer', cursive;
}



@media (min-width: 750px) {
  
}

/* desktop */
@media (min-width: 960px) {
  
}
