* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}

.LoginPage {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: rgb(69, 69, 69);
}

h2 {
  margin-top: 150px;
  margin-bottom: 20px;
}



.red {
  color: #ca1551;
}

.success-alert {
  display: none;
}


.Input,
.Textarea {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 4px;
  color: rgb(69, 69, 69);
}
textarea:focus,
input:focus {
  outline: none;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: vertical;
}

.welcome-header {
  height: 120px;
  color: rgb(69, 69, 69);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

