.calendar-day {
  flex: 1 0 13%;
  max-width: 65px;
  height: 50px;
  border: solid .5px darkgray;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  font-size: 25px;
  font-family: "Righteous", cursive;
  background-color: rgba(240, 240, 240, 0.795);
}

.current-day {
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  font-size: 25px;
  font-family: "Righteous", cursive;
}


.selected-day {
  transition: background-color .5s linear;
  background-color:rgba(255, 140, 0, 0.612);
  color: rgb(69, 69, 69)
}
