.selected-day-container {
  padding-bottom: 150px;
  margin-top: 35px;
  margin-bottom: 150px;
  /* width: 100vw; */
  text-align: center;
}

.date-banner {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(69, 69, 69);
}

.selected-movie-image {
  box-shadow : 0px 1px 5px rgb(69, 69, 69);
  cursor: pointer;
  margin: 10px;
  width: 125px;
}

.dinner-and-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.movie-details {
  margin-top: 10px;
  color: rgb(69, 69, 69);
  font-size: 25px;
  max-width: 350px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-right: 0px;
  margin-bottom: 10px;
}

.overview {
  width: 200px;
  color: rgb(69, 69, 69);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
  text-align: justify;
  padding: 10px;
  padding-right: 15px;
}

.tonight-movie-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  align-content:flex-start; 
  width: 375px;
}

.stats {
  text-align: left;
  padding-left: 10px;
  font-weight: bolder;
  font-size: 17px;
  color: rgb(69, 69, 69);
  font-family: 'Open Sans Condensed', sans-serif;
}

.not-added {
  font-size: 20px;
  color: rgb(69, 69, 69);
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.delete-movie {
  background-color: rgba(240, 240, 240, 0.795);
  font-family: 'Righteous', cursive;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 750px) {
  .not-added {
    margin-bottom: 0px;
  }

  .dinner-and-movie {
    width: 400px;
  }

  .date-banner {
    width: 400px;
  }

  .selected-day-container {
    margin: 0px;
    width: 400px;
  }
}